<template>
  <section class="valign-wrap">
    <div :class="{ 'loading-process': loading }" class="valign-cont login-cont">
      <h3>Login</h3>
      <ValidationObserver
        ref="form"
        tag="form"
        class="mt-20"
      >
        <ValidationProvider
          v-slot="{ errors, classes }"
          tag="div"
          name="Email"
          rules="required|email|max:255"
        >
          <input
            v-model.lazy="email"
            :class="classes"
            class="default-input"
            placeholder="Email"
            type="email"
            @focus="clearServerError"
          >
          <div class="error-message">
            {{ errors[0] }}
          </div>
        </ValidationProvider>
        <ValidationProvider
          v-slot="{ errors, classes }"
          tag="div"
          name="Password"
          rules="required|max:255"
          class="mt-10"
        >
          <input
            v-model.lazy="password"
            :class="classes"
            class="default-input"
            placeholder="Password"
            type="password"
            @focus="clearServerError"
          >
          <div class="error-message">
            {{ errors[0] }}
          </div>
        </ValidationProvider>
      </ValidationObserver>
      <div v-if="serverError" class="error-message">
        {{ serverError }}
      </div>
      <button class="default-button blue-button mt-20" @click="login">
        Login
      </button>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Login',
  layout: 'empty',
  data () {
    return {
      loading: false,
      email: '',
      password: '',
      serverError: ''
    }
  },
  methods: {
    clearServerError () {
      this.serverError = ''
    },
    login () {
      this.$refs.form.validate().then((success) => {
        if (!success) {
          return false
        }
        this.loading = true
        const formData = {
          email: this.email,
          password: this.password
        }
        this.$axios.post('/auth/login', formData)
          .then((res) => {
            if (res.status === 200) {
              this.$store.dispatch('setToken', res.data.token)
              this.$router.push('/')
            } else {
              this.serverError = 'Authorisation error'
              console.log('error', 'Authorisation error')
            }
          })
          .catch((err) => {
            if (err.response.status === 417) {
              const errorData = err.response.data?.first_errors?.email || err.response.data?.first_errors?.password
              this.serverError = errorData || 'Authorisation error'
            }
            console.log('error', err)
          })
          .then(() => {
            this.loading = false
          })
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.login-cont {
  flex: 0 0 400px;
}
</style>
