html {
  height: 100%;
  width: 100%;
  font-family:
    'Source Sans Pro',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    sans-serif;
  font-size: 16px;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  min-width: 320px;
  background-color: #f4f4f4;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
}

h3 {
  font-size: 22px;
  line-height: 28px;
  color: #000;
  font-weight: 500;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  &:focus {
    outline: none;
  }
}

.default-input {
  width: 100%;
  display: block;
  padding: 10px;
  color: #000;
  background-color: #fff;
  border: 1px solid darkgray;
  &::placeholder {
    opacity: 1;
    color: darkgray;
  }
  &:focus {
    border-color: #395378;
    outline: 1px solid #395378;
  }
  &.invalid {
    border-color: red;
    outline: 1px solid red;
  }
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: 3px;
}

.default-button {
  display: inline-block;
  vertical-align: top;
  padding: 9px 30px;
  transition: opacity 250ms ease;
  border-radius: 4px;
  text-transform: uppercase;
  cursor: pointer;
  border-color: transparent;
  font-weight: 600;
  &:focus {
    outline: none;
  }
  &:hover {
    opacity: 0.7;
  }
  &.blue-button {
    background-color: #395378;
    color: #fff;
  }
  &.gray-button {
    background-color: #cecece;
    color: #000;
  }
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0 30px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.align-center {
  align-items: center;
}

.col {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.col-default {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}

.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.col-sm-12 {
  @media screen and (max-width: 575px) {
    flex: 0 0 100%;
    max-width: 100%;
    width: 100%;
  }
}

.card {
  background-color: #fff;
  padding: 30px;
  border-radius: 4px;
  border: 1px solid darkgray;
}

.mt-10 {
  margin-top: 10px;
}

.mt-sm-10 {
  @media screen and (max-width: 575px) {
    margin-top: 10px;
  }
}

.mt-md-10 {
  @media screen and (max-width: 767px) {
    margin-top: 10px;
  }
}

.mt-20 {
  margin-top: 20px;
}

.pt-10 {
  padding-top: 10px;
}

.pt-15 {
  padding-top: 15px;
}

.pt-30 {
  padding-top: 30px;
}

.pb-10 {
  padding-bottom: 10px;
}

.pb-15 {
  padding-bottom: 15px;
}

.pb-30 {
  padding-bottom: 30px;
}

.text-center {
  text-align: center;
}

.loading-process {
  opacity: 0.5;
  pointer-events: none;
}

.valign-wrap {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.valign-cont {
  max-width: 100%;
  width: 100%;
  padding: 30px;
}
