<template>
  <div>
    <section class="project-back-section">
      <div class="container pt-15 pb-15">
        <n-link class="default-button gray-button" to="/">
          Back
        </n-link>
      </div>
    </section>
    <section>
      <div class="container pt-30 pb-30">
        <div :class="{ 'loading-process': loading }" class="card">
          <div class="row project-edit-form-wrap">
            <div class="col col-auto col-sm-12">
              <label class="project-name-label" for="project-name">Name</label>
            </div>
            <div class="col col-default col-sm-12">
              <ValidationObserver
                ref="form"
                tag="form"
              >
                <ValidationProvider
                  v-slot="{ errors, classes }"
                  tag="div"
                  name="Name"
                  rules="required|max:255"
                >
                  <input
                    id="project-name"
                    v-model.lazy="name"
                    :class="classes"
                    class="default-input"
                    placeholder="Email"
                    type="text"
                    @focus="clearServerError"
                  >
                  <div class="error-message">
                    {{ errors[0] }}
                  </div>
                </ValidationProvider>
              </ValidationObserver>
              <div v-if="serverError" class="error-message">
                {{ serverError }}
              </div>
            </div>
            <div class="col col-auto col-sm-12 mt-sm-10">
              <button class="default-button blue-button" @click="updateProject">
                Ok
              </button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
export default {
  name: 'Project',
  validate ({ params }) {
    return /^\d+$/.test(params.id)
  },
  data () {
    return {
      loading: false,
      name: '',
      serverError: ''
    }
  },
  beforeMount () {
    this.getProjectInfo()
  },
  methods: {
    clearServerError () {
      this.serverError = ''
    },
    getProjectInfo () {
      this.$axios.get(`/projects-manage/${this.$route.params.id}`, { ...this.$store.getters.getAuthorization })
        .then((res) => {
          if (res.status === 200) {
            this.name = res.data?.project?.name
          }
        })
        .catch((err) => {
          console.log('error', err)
        })
    },
    updateProject () {
      this.$refs.form.validate().then((success) => {
        if (!success) {
          return false
        }
        this.loading = true
        const params = {
          id: this.$route.params.id
        }
        const formData = {
          name: this.name
        }
        this.$axios.post('/projects-manage/update', formData, { params, ...this.$store.getters.getAuthorization })
          .then((res) => {
            if (res.status === 200) {
              this.$router.push('/')
            } else {
              this.serverError = 'Update project error'
              console.log('error', 'Update project error')
            }
          })
          .catch((err) => {
            if (err.response.status === 417) {
              const errorData = err.response.data?.first_errors?.name
              this.serverError = errorData || 'Update project error'
            }
            console.log('error', err)
          })
          .then(() => {
            this.loading = false
          })
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.project-back-section {
  background-color: #c1c8d2;
}

.project-name-label {
  line-height: 32px;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
  transition: opacity 250ms ease;
  &:hover {
    opacity: 0.7;
  }
}

.project-edit-form-wrap {
  max-width: 800px;
}
</style>
