<template>
  <nav class="header-nav">
    <div class="container pt-10 pb-10">
      <div class="row align-center">
        <div class="col col-default">
          <n-link class="logo" to="/">
            Q
          </n-link>
        </div>
        <div class="col col-auto">
          <n-link class="header-link" to="/">
            Projects
          </n-link>
        </div>
        <div class="col col-auto">
          <div class="header-link" @click="logout">
            Logout
          </div>
        </div>
      </div>
    </div>
  </nav>
</template>

<script>
export default {
  name: 'Header',
  methods: {
    logout () {
      this.$axios.post('/auth/logout', {}, { ...this.$store.getters.getAuthorization })
        .then((res) => {
          if (res.status === 200) {
            this.$store.dispatch('removeToken')
            this.$router.push('/login')
          } else {
            console.log('error', 'Authorisation error')
          }
        })
        .catch((err) => {
          console.log('error', err)
        })
    }
  }
}
</script>

<style lang="scss" scoped>
.logo {
  display: inline-block;
  vertical-align: top;
  font-size: 28px;
  color: #000;
  font-weight: 700;
  font-family: Google Sans,sans-serif;
  transition: opacity 250ms ease;
  &:hover {
    opacity: 0.7;
  }
}

.header-nav {
  background-color: #fafafa;
  box-shadow: 0 0 5px #00000040;
}

.header-link {
  text-transform: uppercase;
  color: darkgrey;
  cursor: pointer;
  transition: opacity 250ms ease;
  &:hover {
    opacity: 0.7;
  }
}
</style>
