<template>
  <section class="valign-wrap">
    <div class="valign-cont text-center">
      <h1>Not found</h1>
      <n-link class="default-button blue-button mt-20" to="/">
        Home page
      </n-link>
    </div>
  </section>
</template>

<script>
export default {
  name: 'Empty'
}
</script>
