<template>
  <n-link v-slot="{ navigate }" :to="`/project/${project.id}`" custom class="card">
    <div @click="navigate">
      <div class="row align-center">
        <div class="col project-name-col">
          <div class="project-name-wrap">
            <div class="project-img">
              <img :src="projectLogo" :alt="project.name">
            </div>
            <div class="project-name">
              {{ project.name }}
            </div>
          </div>
        </div>
        <div class="col project-status-col mt-md-10">
          <div :class="{'active-project': project.is_active}" class="project-card-status">
            {{ projectStatus }}
          </div>
        </div>
        <div class="col project-statistic-col mt-md-10">
          <div class="time-statistic-list">
            <div class="time-stat-item">
              <div class="time-stat-label">
                time this week
              </div>
              <div class="time-stat-value">
                00:00:00
              </div>
            </div>
            <div class="time-stat-item">
              <div class="time-stat-label">
                this month
              </div>
              <div class="time-stat-value">
                00:00:00
              </div>
            </div>
            <div class="time-stat-item">
              <div class="time-stat-label">
                total
              </div>
              <div class="time-stat-value">
                00:00:00
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </n-link>
</template>

<script>
export default {
  name: 'ProjectCard',
  props: {
    project: {
      type: Object,
      default () {
        return {}
      }
    }
  },
  computed: {
    projectStatus () {
      return this.project.is_active ? 'Active' : 'Not active'
    },
    projectLogo () {
      return this.project.logo_url || 'https://dummyimage.com/75x75/cccccc/fff.jpg&text=No+image'
    }
  }
}
</script>

<style lang="scss" scoped>
.project-name-wrap {
  display: flex;
  align-items: center;
}

.project-img {
  flex: 0 0 75px;
  max-width: 75px;
  width: 100%;
  margin-right: 20px;
  img {
    vertical-align: top;
    max-width: 75px;
    max-height: 75px;
  }
}

.project-name {
  word-break: break-word;
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: #000;
}

.project-name-col {
  flex: 0 0 calc(60% - 125px);
  max-width: calc(60% - 125px);
  @media screen and (max-width: 767px) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.project-status-col {
  flex: 0 0 calc(40% - 125px);
  max-width: calc(40% - 125px);
  @media screen and (max-width: 767px) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.project-statistic-col {
  flex: 0 0 250px;
  max-width: 250px;
  @media screen and (max-width: 767px) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.project-card-status {
  font-size: 18px;
  line-height: 22px;
  font-weight: 600;
  color: darkgrey;
  &.active-project {
    color: green;
  }
}

.time-stat-item {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 5px;
  &:last-child {
    margin-bottom: 0;
  }
}

.time-stat-label {
  width: 100%;
  flex: 0 0 65%;
  max-width: 65%;
  padding-right: 15px;
  @media screen and (max-width: 767px) {
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 0;
  }
}

.time-stat-value {
  width: 100%;
  flex: 0 0 35%;
  max-width: 35%;
  font-weight: 600;
  @media screen and (max-width: 767px) {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
</style>
