<template>
  <section class="projects-container container pt-30 pb-30">
    <div v-if="projectsList && projectsList.length">
      <project-card v-for="item in projectsList" :key="item.id" :project="item" class="project-card" />
    </div>
  </section>
</template>

<script>
import ProjectCard from '@/components/ProjectCard'

export default {
  name: 'Projects',
  components: {
    ProjectCard
  },
  async asyncData (context) {
    async function getProjects () {
      try {
        const { data } = await context.$axios.get('/projects-manage/index', { ...context.store.getters.getAuthorization })
        return data.projects
      } catch (err) {
        console.log('error', err)
      }
    }
    return {
      projectsList: await getProjects()
    }
  }
}
</script>

<style lang="scss" scoped>
.projects-container {
  max-width: 800px;
}
.project-card {
  cursor: pointer;
  margin-bottom: 10px;
  transition: opacity 250ms ease;
  &:hover {
    opacity: 0.7;
  }
  &:last-child {
    margin-bottom: 0;
  }
}
</style>
